{% extends 'base.html' %}

{% block title %} | Services {% endblock %}
{% block content %}

<!-- Sub banner start -->

<div class="sub-banner overview-bgi">
    <div class="container breadcrumb-area">
        <div class="breadcrumb-areas">
            <h1>Services</h1>
            <ul class="breadcrumbs">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li class="active">Services</li>
            </ul>
        </div>
    </div>
</div>
<!-- Sub Banner end -->

<!-- Services start -->
<div class="services content-area">
    <div class="container">
        <!-- Main title -->
        <div class="main-title text-center">
            <h1>Our <span>Services</span></h1>
            <p>Vehicle search, booking, and secure payment processing for customers.Fleet and booking management, analytics, and user moderation for administrators.</p>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">1</div>
                    <div class="icon">
                        <i class="flaticon-support-2"></i>
                    </div>
                    <div class="detail">
                        <h3>Free Support</h3>
                        <p>The Car Rentals Application with Django Framework offers free support to users and administrators, ensuring a seamless rental experience.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">2</div>
                    <div class="icon">
                        <i class="flaticon-speed"></i>
                    </div>
                    <div class="detail">
                        <h3>Super Fast</h3>
                        <p>A lightning-fast car rentals platform powered by Django, offering seamless booking, secure payments, user-friendly interface, and efficient fleet management.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">3</div>
                    <div class="icon">
                        <i class="flaticon-motor"></i>
                    </div>
                    <div class="detail">
                        <h3>Repairing</h3>
                        <p>Car Rentals App: Quick Fixes with Django.Efficiently manage vehicle rentals, bookings, and payments using Django's robust framework.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">4</div>
                    <div class="icon">
                        <i class="flaticon-air-conditioner"></i>
                    </div>
                    <div class="detail">
                        <h3>AIR conditioning</h3>
                        <p>Car Rentals Application with Django Framework: "Stay Cool, Rent with Ease." </p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">5</div>
                    <div class="icon">
                        <i class="flaticon-fuel"></i>
                    </div>
                    <div class="detail">
                        <h3>Oil Change</h3>
                        <p>The Car Rentals Application with Django Framework includes an oil change service to ensure the vehicles in the rental fleet maintain optimal performance and reliability.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">7</div>
                    <div class="icon">
                        <i class="flaticon-wheel"></i>
                    </div>
                    <div class="detail">
                        <h3>Engine Repair</h3>
                        <p>The Car Rentals Application with Django Framework provides efficient engine repair services for rental vehicles.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">6</div>
                    <div class="icon">
                        <i class="flaticon-car-2"></i>
                    </div>
                    <div class="detail">
                        <h3>Dealership</h3>
                        <p>The Car Rentals Application with Django Framework facilitates seamless vehicle rentals, serving as a virtual dealership for hassle-free mobility solutions.





                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">8</div>
                    <div class="icon">
                        <i class="flaticon-lock"></i>
                    </div>
                    <div class="detail">
                        <h3>Security</h3>
                        <p>The Car Rentals Application with Django Framework ensures robust security through encrypted user authentication, secure payment processing, and data protection measures to safeguard user information and transactions.





                        </p>
                    </div>
                </div>
            </div>
	
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="service-info">
                    <div class="number">9</div>
                    <div class="icon">
                        <i class="flaticon-deal"></i>
                    </div>
                    <div class="detail">
                        <h3>Trusted Agents</h3>
                        <p>
                            Trust agents in the Car Rentals Application with Django Framework include secure payment gateways, user authentication protocols, and transparent review systems, ensuring user data security, reliable transactions, and trustworthy user feedback.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Services end -->



<!-- Service center strat -->
<div class="service-center content-area-5">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
               
            </div>
            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                <div class="about-text">
                    <h3>Our Services <span>Video</span></h3>
                    <p>One morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could</p>
                    <p class="mb-0">morning, when Gregor Samsa woke from troubled dreams, he found himself transformed in his bed into a horrible vermin. He lay on his armour-like back, and if he lifted his head a little he could see himself transformed in his bed</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Service center end -->

{% endblock %}
